// base color
$blue: #324157;
$light-blue: #3a71a8;
$red: #c03639;
$pink: #e65d6e;
$green: #30b08f;
$tiffany: #4ab7bd;
$yellow: #fec171;
$panGreen: #30b08f;

$sideBarWidth: 210px;

// 全局主色
$primaryColor: $THEME_COLOR;

// 成功色
$successColor: #52c41a;

// 警告色
$warningColor: #faad14;

// 错误色
$errorColor: #f5222d;

// 主文本色
$textColor: rgba(0, 0, 0, 0.65);

// 次文本色
$textColorSecondary: rgba(0, 0, 0, 0.45);

// 失效色
$disabledColor: rgba(0, 0, 0, 0.25);

// 文本大小
$textSize: 14px;

// 次文本大小
$textSizeSecondary: 12px;

// 文本尺寸大小
$textSizeLarge: $textSize;
$textSizeSmall: $textSize - 2px;

// 主边框色
$borderColor: #d9d9d9;

// 次边框色
$borderColorSecondary: #e8e8e8;

// 组件/浮层圆角
$borderRadius: 2px;

// 浮层阴影
$boxShadow: 0 2px 8px rgba(0, 0, 0, 0.15);

// 主背景色
$backgroundColor: #f2f2f2;

// 次背景色
$backgroundColorSecondary: #f5f5f5;

// sidebar 侧栏颜色
$menuText: rgba(255, 255, 255, 0.65);
$menuActiveText: #fff;
$subMenuActiveText: #fff;

$menuBg: #272b2e;
$menuHover: #292929;

$subMenuBg: #1a1a1a;
$subMenuHover: #2e2e2e;

// Logo 背景色
$logoBgColor: #1f1f1f;

// AllMenu 划出面板背景色
$allMenuBgColor: #313538;

// 模块之间距离
$moduleMargin: 10px;
$modulePadding: 10px;

:export {
  theme: $primaryColor;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
